@layer react-query-builder {
  .item {
    width: 100%;
    padding: 0.65rem 0.85rem;
    color: var(--query-builder-color-grey-700);
    text-align: left;
    background: var(--query-builder-color-white);
    border: 0;
    border-bottom: 1px solid var(--query-builder-color-grey-100);
    cursor: pointer;
  }

  .item:last-child {
    border-bottom: 0;
  }

  .item:hover:not(:disabled) {
    background: var(--query-builder-color-grey-500);
  }

  .item:disabled {
    cursor: default;
    opacity: 0.6;
  }

  .item:focus-visible {
    outline: 2px solid var(--query-builder-color-primary-default);
    outline-offset: -2px;
  }
}
