@layer react-query-builder {
  .typography {
    color: var(--query-builder-color-grey-800);
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: inherit;
    line-height: calc(2rem - 2px);
  }

  .control {
    box-sizing: border-box;
    appearance: none;
    width: var(--query-builder-control-width, 160px);
    min-width: var(--query-builder-control-min-width, 160px);
    max-width: 100%;
    height: 2rem;
    border: 1px solid var(--query-builder-color-grey-500);
    border-radius: 3px;
    background: var(--query-builder-color-background);
  }

  .control:disabled {
    background: var(--query-builder-color-grey-100);
    cursor: not-allowed;
  }
}
