@layer react-query-builder {
  .secondaryButton {
    color: var(--query-builder-color-secondary-contrast-text);
    background-color: var(--query-builder-color-secondary-light);
    border: 1px solid var(--query-builder-color-secondary-dark);
  }

  .secondaryButton:hover {
    background-color: var(--query-builder-color-secondary-default);
  }
}
