@layer react-query-builder {
  .outlinedButton {
    padding: 0.5rem 0.9rem;
    color: var(--query-builder-color-grey-700);
    font-size: 0.75rem;
    text-transform: none;
    background-color: var(--query-builder-color-background);
    border: 1px solid var(--query-builder-color-grey-300);
  }

  .outlinedButton:hover {
    color: var(--query-builder-color-grey-800);
    background-color: var(--query-builder-color-grey-100);
    border-color: var(--query-builder-color-grey-400);
  }

  .outlinedButton:disabled,
  .outlinedButton:disabled:hover {
    color: var(--query-builder-color-grey-400);
    background-color: var(--query-builder-color-grey-100);
    border-color: var(--query-builder-color-grey-200);
    cursor: not-allowed;
  }
}
