@layer react-query-builder {
  .badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.25rem;
    height: 1.25rem;
    padding: 0 0.35rem;
    color: var(--fluent-ui-badge-color);
    font-size: 0.75rem;
    line-height: 1;
    background: var(--fluent-ui-badge-background);
    border-radius: 999px;
  }
}
